<!doctype html>
<html>
  <head>
	<title>InTech Support hangout</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	<script src="http://fonzztonio.no-ip.biz:3000/socket.io/socket.io.js"></script>
	<script src="http://code.jquery.com/jquery-1.11.1.js"></script>
	
	<!--	
	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.2/styles/default.min.css">

	-->
	<script src="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.2/highlight.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/stylesheets/highlight.css">

	<script>
		$(document).ready(function () { 
			resizeWindow();
		});
	
		function resizeWindow(){
			var newHeight = $(window).height() - (2*$('#ban').height() + $('#message').height());
                        var oldHeight = $('#main').height();
                        // if (newHeight > oldHeight) {
                                $('#main').height(newHeight);
                        //}
		}

		$(window).resize(function() {
  			//resize just happened, pixels changed
			resizeWindow();
		});	
	</script>
  </head>
  <body>
  	<div id="title_chat">
		<div id="ban">
			<img src="/images/logo.gif" alt="Accueil">
		</div>
		<div id="title_text">
			<h1>Support hangout - Powered by Node.JS</h1>
		</div>
	</div>
	<!-- Section page-->
	<div id="main">
		<div id="chat">
			<ul id="list_messages">
			</ul>
		</div>
		<div id="users">
			<div id="users_title">
				Connected users
			</div>
			
			<ul id="list_users">	
			</ul>
		</div>
	</div>
	<br/>
	<div id="message">
		<div id="input_m">
			<textarea id="m" rows="2" autocomplete="off"></textarea>
		</div>
		<div id="input_submit">
			<button id="submit_button">Send</button>
			<button id="code_button">Code</button>
		</div>
	</div>
	
	<!-- Section Socket IO -->


	<script>
	
		var socket = io.connect('http://fonzztonio.no-ip.biz:3000', {
			'reconnect': true,
			'reconnection delay': 500,
			'sync disconnect on unload': false
		});
		
		
		// On demande le pseudo au visiteur...
		while(true){
			var pseudo = prompt('Quel est votre pseudo ?');
			if(pseudo.length > 0 && pseudo !== 'undefined' && pseudo !== 'null'){
				break;
			}
		}
		// Et on l'envoie avec le signal "petit_nouveau" (pour le diff de "message"
		socket.emit('new_user', pseudo);
				
		// Initialisation du highliter de code
		hljs.initHighlightingOnLoad();
		

		/*###################
		 ### Partie envoi ###
		 ####################*/

		// envoi d'un message

		$('#submit_button').click(function(){
			var msg = $('#m').val();
			socket.emit('chat_message', pseudo, msg);
			$('#m').val('');
			$('#list_messages').append($('<li>').text(pseudo+' : '+msg));
			autoScroll();
			console.log("MSG_SENT");
			return false;
		});
	
		$("#m").keyup(function (e) {
			if (e.keyCode == 13) {
				var msg = $('#m').val()
				msg = msg.substring(0, msg.length - 1);
				socket.emit('chat_message', pseudo, msg);
				$('#m').val('');
				$('#list_messages').append($('<li>').text(pseudo+' : '+msg));
				autoScroll();
				console.log("MSG SENT");
				return false;		
			}
		});

		// Envoi de code
		$('#code_button').click(function(){
			var code = $('#m').val();
			socket.emit('code_message', pseudo, code);
			$('#m').val('');
		
			// Text formatting
			code = code.replace(/ /g, '&nbsp;');
			code = code.replace(/(?:\r\n|\r|\n)/g, '<br />');

			$('#list_messages').append($('<li>').text(pseudo+' sending code : '));
			$('#list_messages').append($('<div class=\"code_langage\"></div>').html(code));
		
			$('.code_langage').each(function(i, block) {
				 hljs.highlightBlock(block);
			});
	
			autoScroll();
			return false;
		});

		$(window).bind("beforeunload", function() { 	
			socket.emit('user_disconnect');
		});

		/*#######################
		 ### Partie reception ###
		#########################*/

		// Reception de la liste des utilisateirs
		socket.on('list_users', function(data){
			reloadUsersList(data);
		})

		function reloadUsersList(data){	
			$('#list_users').empty();	
			var users = $.parseJSON(JSON.stringify(data));
			$.each(users, function(i, item) {
				$('#list_users').append($('<li>').text(item.pseudo));
			});

		}

		// Reception d'un message
		socket.on('chat_message', function(pseudo, msg){
			$('#list_messages').append($('<li>').text(pseudo+' : '+msg));
			autoScroll();
		})


		// Reception de code  
		socket.on('code_message', function(pseudo, code){
			// Text formating
			code = code.replace(/ /g, '&nbsp;');
			code = code.replace(/(?:\r\n|\r|\n)/g, '<br />');
		
			$('#list_messages').append($('<li>').text(pseudo+" sending code : "));
			$('#list_messages').append($('<div class=\"code_langage\"></div>').html(code));
			
			$('.code_langage').each(function(i, block) {
				 hljs.highlightBlock(block);
			});

			autoScroll();
		})


		// AutoScroll 
		function autoScroll(){
			$("#chat").scrollTop($("#chat")[0].scrollHeight);
		}

		
	</script>
  </body>
</html>
