<!doctype html>
<html>
  <head>
	<title>InTech Support hangout</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	<script src="http://192.168.4.116:3000/socket.io/socket.io.js"></script>
	<script src="http://code.jquery.com/jquery-1.11.1.js"></script>
	<link type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/themes/ui-lightness/jquery-ui.css" rel="stylesheet" />	
	<script src="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.2/highlight.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/stylesheets/highlight.css">

	<script>
		// init
		function init(){
			$('#unavailable').hide();
		}
		
		$.getDocHeight = function(){
			return Math.max(
				$(document).height(),
				$(window).height(),
				/* For opera: */
				document.documentElement.clientHeight
			);
		};

		function resizeWindow(){
			var winHeight = $(window).height();
			var titleChatHeight = $("#title_chat").height();
			var messageHeight = $("#message").height();

			$("#title_chat").hide();
			$("#main").hide();
			$("#message").hide();

			$("#title_chat").height(0.10*winHeight);
			$("#main").height(0.75*winHeight);
			$("#message").height(0.04*winHeight);

			$("#title_chat").show();
			$("#main").show();
			$("#message").show();

		}

		$(window).resize(function() {
  			//resize just happened, pixels changed
			resizeWindow();
		});	
	</script>
  </head>
  <body>
  	<div id="title_chat">
		<div id="ban">
			<img src="/images/logo.gif" alt="Accueil">
		</div>
		<div id="title_text">
			<h1>Support hangout - Powered by Node.JS</h1>
		</div>
	</div>
	<!-- Section page-->
	<div id="main">
		<div id="chat">

		</div>
		<div id="users">
			<div id="users_title">
				<span style="text-decoration: underline; text-align: center">Server info</span><br/><br/>
				<img class="init" id="img_server_status_dis" src="/images/red_min.png" alt="">
				<img class="init" id="img_server_status_con" src="/images/green_min.png" alt="">
				<img class="init" id="img_server_status_err" src="/images/red_red_min.png" alt="">
				<span class="init_sp" id="server_status"></span>
				<span class="init_sp" id="nb_users"></span>
				<img class="init" id="img_bu" src="/images/business_users_min.png" alt="users">

			</div>
			
			<ul id="list_users">	
			</ul>
		</div>
	</div>
	<br/>
	<div id="message">
		<div id="input_m">
			<textarea id="m" rows="2" ></textarea>
		</div>
		<div id="input_submit">
			<button id="submit_button">Send</button>
			<button id="code_button">Code</button>
			<br/>
			<img id="img_padlock" src="/images/padlock_open.png" alt="padlock" title="Lock/unlock chat scroll" >
			<img id="trash" src="/images/trash.png" alt="trash" title="Empty all chat messages">
			<img id="available" src="/images/available.png" alt"availability" title="Precise your availability" >
			<img id="unavailable" src="/images/unavailable.png" alt="unavailable" title="Precise your availability" >
		</div>
	</div>
	
	<!-- Section Socket IO -->


	<script>
		var inactive = false;
		var nbMsg = 0;
		var lock_div = 0;
		resizeWindow();	
		init();	

		// On demande le pseudo au visiteur...
		var pseudo = prompt('Quel est votre pseudo ?');
		while(pseudo === 'undefined' || pseudo === 'null' || pseudo.length > 25 || pseudo.length == 0){
			var pseudo = prompt('Quel est votre pseudo ?\n !!! 25 caractères maximum !!! Champ vide, null et undefined sont interdits');
		}

		var socket = io.connect('http://192.168.4.116:3000', {
			'reconnect': true,
			'reconnection delay': 500,
			'sync disconnect on unload': false
		});


		// Et on l'envoie avec le signal "new_user" (pour le diff de "message"
		socket.emit('new_user', pseudo);
				
		// Initialisation du highliter de code
		hljs.initHighlightingOnLoad();
	
	

		/*###################
		 ### Partie envoi ###
		 ####################*/

		// envoi d'un message

		$("#submit_button").click(function(){
			var msg = $('#m').val();
			if(msg.length > 0){
				socket.emit('chat_message', pseudo, msg);
			}
			$('#m').val('');
			return false;
		});
	
		$("#m").keyup(function (e) {
			if (e.keyCode == 13) {
				var msg = $('#m').val()
				msg = msg.substring(0, msg.length - 1);
				if(msg.length > 0){
					socket.emit('chat_message', pseudo, msg);
				}
				$('#m').val('');
				return false;		
			}
		});

		// Envoi de code
		$("#code_button").click(function(){
			var code = $('#m').val();
			if(code.length > 0){
				socket.emit('code_message', pseudo, code);
			}
			$('#m').val('');
			return false;
		});

		// Envoi d'images printscreens etc. Drag and drop d'images
		var obj = $("#main");

		obj.on('drop', function (e) { 
			$(this).css('border', '2px dotted #0B85A1');
			e.preventDefault();
			var files = e.originalEvent.dataTransfer.files;
			//We need to send dropped files to Server
		
			var file = files[0], reader = new FileReader();
			//When the file has been read...
			// Test if file size is < at 1.5 MB
			if(file.size <= 1499999 && testExt(file.name)){
			
				var user_img = $('<img class=\"pic_user\" src=\"/images/server_icon_16.gif\" alt=\"user\">');
				var user_pseudo = $('<div class=\"pseudos\">');
				var user_message = $('<div class=\"messages\">');
				var chat_table = $('<div class=\"chat_table server_message\">');
				
				$(user_pseudo).append($(user_img));
				$(user_pseudo).append(pseudo+' : ');
				$(chat_table).append($(user_pseudo));
				$(chat_table).append($(user_message).append("Sending image to server ..."));
	
				$('#chat').append($(chat_table));	
	
				autoScroll();

				if(inactive == true){
					notifyUser();
				}	
					reader.onload = function(evt){
	        			socket.emit('user_image', pseudo, evt.target.result);
	    			};
	    			//And now, read the image and base64
	    			reader.readAsDataURL(file);  
			}else{
				var user_img = $('<img class=\"pic_user\" src=\"/images/server_icon_16.gif\" alt=\"user\">');
				var user_pseudo = $('<div class=\"pseudos\">');
				var user_message = $('<div class=\"messages\">');
				var chat_table = $('<div class=\"chat_table server_message\">');
				
				$(user_pseudo).append($(user_img));
				$(user_pseudo).append(pseudo+' : ');
				$(chat_table).append($(user_pseudo));
				$(chat_table).append($(user_message).append("WARNING ! File size too large !!! Picture must have a size less thant 1.5 MB. Extension allowed : .bnp, .gif, .jpeg, .jpg, .tif, .png"));
	
				$('#chat').append($(chat_table));	
	
				autoScroll();

				if(inactive == true){
					notifyUser();
				}	
			}
		});

		// Gestion de la fermeture (deconnexion) de fenetre utilisateur
		$(window).bind("beforeunload", function() { 	
			socket.emit('user_disconnect');
		});

		/*#######################
		 ### Partie reception ##
		#########################*/

		// Reception de la liste des utilisateirs
		socket.on('list_users', function(data){
			reloadUsersList(data);
		});

		function reloadUsersList(data){	
			$('#img_bu').show();	
			$("#nb_users").empty();
			$("#nb_users").append(data.length+" members");
			$('#list_users').empty();
			var users = $.parseJSON(JSON.stringify(data));
			$.each(users, function(i, item) {
				var li = $("<li>");
				$('#list_users').append($('<li>').html(item.pseudo));
			});

		}



		// Reception d'un message
		socket.on('chat_message', function(pseudo, msg){
			// Build HTML to insert
			var user_img = $('<img class=\"pic_user\" src=\"/images/user_icon_16.gif\" alt=\"user\">');
			var user_pseudo = $('<div class=\"pseudos\">');
			var user_message = $('<div class=\"messages\">');
			var chat_table = $('<div class=\"chat_table\">');
			
			$(user_pseudo).append($(user_img));
			$(user_pseudo).append(renderDate());
			$(user_pseudo).append(pseudo+' : ');
			$(chat_table).append($(user_pseudo));
			$(chat_table).append($(user_message).html(linkify(msg)));

			$('#chat').append($(chat_table));	

			autoScroll();

			if(inactive == true){
				notifyUser();
			}
		});


		// Reception de code  
		socket.on('code_message', function(pseudo, code){
			// Text formating
			code = code.replace(/ /g, '&nbsp;');
			code = code.replace(/(?:\r\n|\r|\n)/g, '<br />');
		
			// Build HTML to insert
			var user_img = $('<img class=\"pic_user\" src=\"/images/user_icon_16.gif\" alt=\"user\">');
			var user_pseudo = $('<div class=\"pseudos\">');
			var user_message = $('<div class=\"code_langage code_messages\">');
			var chat_table = $('<div class=\"chat_table\">');
			
			$(user_pseudo).append($(user_img));
			$(user_pseudo).append(renderDate());
			$(user_pseudo).append(pseudo+' : ');
			$(chat_table).append($(user_pseudo));
			$(chat_table).append($(user_message).html(code));
			$('#chat').append($(chat_table));	

			$('.code_langage').each(function(i, block) {
				 hljs.highlightBlock(block);
			});

			autoScroll();

			if(inactive == true){
				notifyUser();
			}

		});

		// Message serveur
		socket.on('host_message', function(pseudo, msg){
			var server_img = $('<img class=\"pic_user\" src=\"/images/server_icon_16.gif\" alt=\"server\">');
			var user_pseudo = $('<div class=\"pseudos\">');
			var user_message = $('<div class=\"messages\">');
			var chat_table = $('<div class=\"chat_table server_message\">');
			
			$(user_pseudo).append($(server_img));
			$(user_pseudo).append(renderDate());
			$(user_pseudo).append(pseudo+' : ');
			$(chat_table).append($(user_pseudo));
			$(chat_table).append($(user_message).text(msg));
			$('#chat').append($(chat_table));	

			autoScroll();

			if(inactive == true){
				notifyUser();
			}

		});

		// User image reception
		socket.on('user_image', function(pseudo, base64Image){
			var user_img = $('<img class=\"pic_user\" src=\"/images/user_icon_16.gif\" alt=\"server\">');
			var user_pseudo = $('<div class=\"pseudos\">');
			var user_message = $('<div class=\"messages\">');
			var chat_table = $('<div class=\"chat_table\">');
			
			$(user_pseudo).append($(user_img));
			$(user_pseudo).append(renderDate());
			$(user_pseudo).append(pseudo+' : ');
			$(chat_table).append($(user_pseudo));
			$(chat_table).append($(user_message).append('<img id="pic_id_'+guiid()+'" class="uploaded_pic" zoom="off" src="'+base64Image+'"/>'));
			$('#chat').append($(chat_table));	

			autoScroll();

			if(inactive == true){
				notifyUser();
			}
		});

		// youtube video sharing
		socket.on('youtube_message', function(pseudo, url){
			var user_img = $('<img class=\"pic_user\" src=\"/images/user_icon_16.gif\" alt=\"server\">');
			var user_pseudo = $('<div class=\"pseudos\">');
			var user_message = $('<div class=\"messages\">');
			var chat_table = $('<div class=\"chat_table\">');
			var iframe = $('<iframe width="420" height="315" src="'+url+'" frameborder="0" allowfullscreen></iframe>');

			$(user_pseudo).append($(user_img));
			$(user_pseudo).append(renderDate());
			$(user_pseudo).append(pseudo+' : ');
			$(chat_table).append($(user_pseudo));
			$(chat_table).append($(user_message)).append($(iframe));
			$('#chat').append($(chat_table));	

			autoScroll();

			if(inactive == true){
				notifyUser();
			}
		
		});

		/*######################
		###  SERVER STATUS   ###
		######################*/
	
		socket.on('connect_failed', function(){
			$('#server_status').empty();
			$('#server_status').append("Failed to connect | ");
			$('#img_server_status_dis').hide();
			$('#img_server_status_con').hide();
			$('#img_server_status_err').show();
		});

		socket.on('connect', function () {
			$('#server_status').empty();
			$('#server_status').append("Connected | ");
			$('#img_server_status_dis').hide();
			$('#img_server_status_err').hide();
			$('#img_server_status_con').show();

		});

		socket.on('disconnect', function () {
			$('#server_status').empty();
			$('#server_status').append("Disconnected | ");
			$('#img_server_status_con').hide();
			$('#img_server_status_con').hide();
			$('#img_server_status_dis').show();
		});

		/*######################
		### DESIGN an BEHAVE ###
		######################*/
		// handle notification on title
		$(window).on("blur", function(){
			inactive = true;
		});

		$(window).on("focus", function(){
			document.title = "InTech Support Hangout";
			inactive = false;
			nbMsg = 0;
		});

		function notifyUser(){
			nbMsg = nbMsg+1;
			document.title = "("+nbMsg+") - InTech Support Hangout";
		}

		// AutoScroll 
		function autoScroll(){
			if(lock_div == 0){
				$("#chat").scrollTop($("#chat")[0].scrollHeight);
			}
		}
	
		// Gestion de la disponibilite
		$('#available').click(function(){
			$('#available').hide();
			$('#unavailable').show();
			socket.emit(pseudo, "available");
		});
		
		$('#unavailable').click(function(){
			$('#unavailable').hide();
			$('#available').show();
			socket.emit(pseudo, "unavailable");
		});
		
		// Lock / Unlock scrolling
		$("#img_padlock").click(function(){
			if(lock_div == 0){
				lock_div = 1;
				$("#img_padlock").attr("src", "/images/padlock_close.png");
			}else{
				lock_div = 0;
				$("#img_padlock").attr("src", "/images/padlock_open.png");
			}	
		});

		$('#trash').click(function(){
			$('#chat').empty();
		});

		// Date formatting
		function renderDate(){
			var today = new Date();
			var now = "";			

			if(today.getHours() < 10){
				now += '[0'+today.getHours()+":";
			}else{
				now += "["+today.getHours()+":";
			}

			if(today.getMinutes() < 10){
				now += '0'+today.getMinutes()+"] - ";
			}else{
				now += today.getMinutes()+"] - ";
			}
			
			return now;
		}

		// URL detection to linkify
		function linkify(inputText) {
			var replacedText, replacePattern1, replacePattern2, replacePattern3;
			//URLs starting with http://, https://, or ftp://
			replacePattern1 = /(\b(https?|ftp):\/\/[-A-Z0-9+&@#\/%?=~_|!:,.;]*[-A-Z0-9+&@#\/%=~_|])/gim;
			replacedText = inputText.replace(replacePattern1, '<a href="$1" target="_blank">$1</a>');
			//URLs starting with "www." (without // before it, or it'd re-link the ones done above).
			replacePattern2 = /(^|[^\/])(www\.[\S]+(\b|$))/gim;
			replacedText = replacedText.replace(replacePattern2, '$1<a href="http://$2" target="_blank">$2</a>');
			//Change email addresses to mailto:: links.
			replacePattern3 = /(([a-zA-Z0-9\-\_\.])+@[a-zA-Z\_]+?(\.[a-zA-Z]{2,6})+)/gim;
			replacedText = replacedText.replace(replacePattern3, '<a href="mailto:$1">$1</a>');
	
			return replacedText;
		}	

		// Prevent drag and drop on bad div
		$(document).on('dragenter', function (e) {
			e.stopPropagation();
			e.preventDefault();
		});

		$(document).on('dragover', function (e) {
			e.stopPropagation();
			e.preventDefault();
			obj.css('border', '2px dotted #0B85A1');
		});

		$(document).on('drop', function (e) {
			e.stopPropagation();
			e.preventDefault();
		});
		
		// file extension test
		function testExt(filename){
			var ext	= filename.split('.').pop();
			if(ext == filename) return false;
			switch (ext.toLowerCase()) {
				case 'jpg':
				case 'tif':
				case 'jpeg':
				case 'bmp':
				case 'png':
				case 'gif':
			        // etc
			        return true;
			}
			return false;
		}

		// Zoom on/off a pic in chat
		$("#chat").on("click", "img", function(e){
			e.preventDefault();
			var id = e.target.id;


			if($("#"+id).attr("zoom") == "off"){
				$("#"+id).attr("zoom", "on");
				$("#"+id).addClass("zoom_pic");
				$("#"+id).removeClass("uploaded_pic");
			}
			else{
				$("#"+id).attr("zoom", "off");
				$("#"+id).addClass("uploaded_pic");
				$("#"+id).removeClass("zoom_pic");
			}
		});

		function guiid() {
			return s4() + s4() + '-' + s4() + '-' + s4() + '-' + s4() + '-' + s4() + s4() + s4();
		}
		
		function s4() {
			return Math.floor((1 + Math.random()) * 0x10000).toString(16).substring(1);
		}
	</script>
  </body>
</html>
