<!doctype html>
<html>
  <head>
	<title>InTech Support hangout</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	<script src="http://fonzztonio.no-ip.biz:3000/socket.io/socket.io.js"></script>
	<script src="http://code.jquery.com/jquery-1.11.1.js"></script>
	
	<!--	
	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.2/styles/default.min.css">

	-->
	<script src="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.2/highlight.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/stylesheets/highlight.css">

	<script>
		$(document).ready(function () { 
			resizeWindow();
		});
	
		function resizeWindow(){
			var newHeight = $(window).height() - (2.5*$('#ban').height() + $('#message').height());
                        var oldHeight = $('#main').height();
                        // if (newHeight > oldHeight) {
                                $('#main').height(newHeight);
                        //}
		}

		$(window).resize(function() {
  			//resize just happened, pixels changed
			resizeWindow();
		});	
	</script>
  </head>
  <body>
  	<div id="title_chat">
		<div id="ban">
			<img src="/images/logo.gif" alt="Accueil">
		</div>
		<div id="title_text">
			<h1>Support hangout - Powered by Node.JS</h1>
		</div>
	</div>
	<!-- Section page-->
	<div id="main">
		<div id="chat">

		</div>
		<div id="users">
			<div id="users_title">
				Connected users
			</div>
			
			<ul id="list_users">	
			</ul>
		</div>
	</div>
	<br/>
	<div id="message">
		<div id="input_m">
			<textarea id="m" rows="2" autocomplete="off"></textarea>
		</div>
		<div id="input_submit">
			<button id="submit_button">Send</button>
			<button id="code_button">Code</button>
		</div>
	</div>
	
	<!-- Section Socket IO -->


	<script>
	
		var socket = io.connect('http://fonzztonio.no-ip.biz:3000', {
			'reconnect': true,
			'reconnection delay': 500,
			'sync disconnect on unload': false
		});
		
		var pseudo = prompt('Quel est votre pseudo ?');
	
		// On demande le pseudo au visiteur...
		while(pseudo === 'undefined' || pseudo === 'null' || pseudo.length > 25 || pseudo.length == 0){
			var pseudo = prompt('Quel est votre pseudo ?\n !!! 25 caractères maximum !!! Champ vide, null et undefined sont interdits');
		}
	
		// Et on l'envoie avec le signal "new_user" (pour le diff de "message"
		socket.emit('new_user', pseudo);
				
		// Initialisation du highliter de code
		hljs.initHighlightingOnLoad();
		

		/*###################
		 ### Partie envoi ###
		 ####################*/

		// envoi d'un message

		$("#submit_button").click(function(){
			var msg = $('#m').val();
			socket.emit('chat_message', pseudo, msg);
			$('#m').val('');
			return false;
		});
	
		$("#m").keyup(function (e) {
			if (e.keyCode == 13) {
				var msg = $('#m').val()
				msg = msg.substring(0, msg.length - 1);
				socket.emit('chat_message', pseudo, msg);
				$('#m').val('');
				return false;		
			}
		});

		// Envoi de code
		$("#code_button").click(function(){
			var code = $('#m').val();
			socket.emit('code_message', pseudo, code);
			$('#m').val('');
			return false;
		});

		$(window).bind("beforeunload", function() { 	
			socket.emit('user_disconnect');
		});

		/*#######################
		 ### Partie reception ###
		#########################*/

		// Reception de la liste des utilisateirs
		socket.on('list_users', function(data){
			reloadUsersList(data);
		})

		function reloadUsersList(data){	
			$('#list_users').empty();	
			var users = $.parseJSON(JSON.stringify(data));
			$.each(users, function(i, item) {
				var li = $("<li>");
				$('#list_users').append($('<li>').html(item.pseudo));
			});

		}

		// Reception d'un message
		socket.on('chat_message', function(pseudo, msg){
			// Build HTML to insert
			var user_img = $('<img class=\"pic_user\" src=\"/images/user_icon_16.gif\" alt=\"user\">');
			var user_pseudo = $('<div class=\"pseudos\">');
			var user_message = $('<div class=\"messages\">');
			var chat_table = $('<div class=\"chat_table\">');
			
			$(user_pseudo).append($(user_img));
			$(user_pseudo).append(pseudo+' : ');
			$(chat_table).append($(user_pseudo));
			$(chat_table).append($(user_message).text(msg));
			$('#chat').append($(chat_table));	

			autoScroll();
		})


		// Reception de code  
		socket.on('code_message', function(pseudo, code){
			// Text formating
			code = code.replace(/ /g, '&nbsp;');
			code = code.replace(/(?:\r\n|\r|\n)/g, '<br />');
		
			// Build HTML to insert
			var user_img = $('<img class=\"pic_user\" src=\"/images/user_icon_16.gif\" alt=\"user\">');
			var user_pseudo = $('<div class=\"pseudos\">');
			var user_message = $('<div class=\"code_langage messages\">');
			var chat_table = $('<div class=\"chat_table\">');
			
			$(user_pseudo).append($(user_img));
			$(user_pseudo).append(pseudo+' : ');
			$(chat_table).append($(user_pseudo));
			$(chat_table).append($(user_message).html(code));
			$('#chat').append($(chat_table));	

			$('.code_langage').each(function(i, block) {
				 hljs.highlightBlock(block);
			});

			autoScroll();
		})


		// AutoScroll 
		function autoScroll(){
			$("#chat").scrollTop($("#chat")[0].scrollHeight);
		}

		
	</script>
  </body>
</html>
