<!doctype html>
<html>
  <head>
	<title>Socket.IO chat on BB Black</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	<script src="/socket.io/socket.io.js"></script>
	<script src="http://code.jquery.com/jquery-1.11.1.js"></script>
	<script>
		$(document).ready(function () { 
			var newHeight = $(window).height() - (3*$('#title_chat').height() + $('#message').height());
			var oldHeight = $('#main').height();
			if (newHeight > oldHeight) {
				$('#main').height(newHeight);
			}
		});	
	</script>
  </head>
  <body>
  	<div id="title_chat">
		<h1>BB Black - Chat room - Powered by Node.JS</h1>
	</div>
	<!-- Section page-->
	<div id="main">
		<div id="chat">
			<ul id="list_messages">
			</ul>
		</div>
		<div id="users">
			<div class="users_title">
				Connected users
			</div>
			
			<ul id="list_users">	
			</ul>
		</div>
	</div>
	<div id="message">
		<form action="">
			<div id="input_m">
				<input id="m" type="text"/>
			</div>
			<div id="input_submit">
				<button id="submit_button">Send</button>
			</div>
		</form>
	</div>
	
	<!-- Section Socket IO -->


	<script>
	
		var socket = io();
		
		// On demande le pseudo au visiteur...
		var pseudo = prompt('Quel est votre pseudo ?');
		// Et on l'envoie avec le signal "petit_nouveau" (pour le diff de "message"
		socket.emit('new_user', pseudo);
		
		// Encoi d'un message
		$('form').submit(function(){
			var msg = $('#m').val();
			socket.emit('chat message', msg);
			$('#m').val('');
			$('#list_messages').append($('<li>').text(pseudo+' : '+msg));
			autoScroll();
			return false;
		});
		
		// Reception d'un message
		socket.on('chat_message', function(msg){
			$('#list_messages').append($('<li>').text(msg));
			autoScroll();
		});

		// Reception de la liste des utilisateirs
		socket.on('list_users', function(list){
			$(list).each(elem){
				$('#list_users').append($('<li>').text(elem));
			}
		});

		
		// AutoScroll 
		function autoScroll(){
			$("#chat").scrollTop($("#chat")[0].scrollHeight);
		}
		
	</script>
  </body>
</html>
